---
---

@import "minima";
a {
  text-decoration: none;
  color: #8564FF;
}
a:hover {
  text-decoration: none;
  color: #4A2DB3;
}
a:visited {
  color: #4A2DB3;
}
div.highlight {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}
div.language-plaintext {
  background-color: #000000 !important;
  color: #FFFFFF !important;
}
pre, code {
  font-family: 'Source Code Pro', 'Menlo', 'Consolas', monospace;
}
