---
---

@import "minima";
a {
  text-decoration: none;
  color: #8564FF;
}
a:hover {
  text-decoration: none;
  color: #4A2DB3;
}
a:visited {
  color: #4A2DB3;
}
pre {
  font-family: 'Source Code Pro', 'Menlo', 'Consolas', monospace;
}
code {
  background-color: #000000;
  color: #FFFFFF;
}
